$icomoon-font-path: "../fonts/entypo-icons" !default;

$icon-uniF001: "\f001";
$icon-uniF002: "\f002";
$icon-uniF003: "\f003";
$icon-uniF004: "\f004";
$icon-uniF005: "\f005";
$icon-uniF006: "\f006";
$icon-uniF009: "\f009";
$icon-uniF00C: "\f00c";
$icon-uniF00D: "\f00d";
$icon-uniF011: "\f011";
$icon-uniF012: "\f012";
$icon-uniF013: "\f013";
$icon-uniF014: "\f014";
$icon-uniF015: "\f015";
$icon-uniF017: "\f017";
$icon-uniF019: "\f019";
$icon-uniF01C: "\f01c";
$icon-uniF01E: "\f01e";
$icon-uniF021: "\f021";
$icon-uniF023: "\f023";
$icon-uniF025: "\f025";
$icon-uniF026: "\f026";
$icon-uniF028: "\f028";
$icon-uniF02B: "\f02b";
$icon-uniF02C: "\f02c";
$icon-uniF02D: "\f02d";
$icon-uniF02E: "\f02e";
$icon-uniF030: "\f030";
$icon-uniF031: "\f031";
$icon-uniF032: "\f032";
$icon-uniF033: "\f033";
$icon-uniF036: "\f036";
$icon-uniF037: "\f037";
$icon-uniF038: "\f038";
$icon-uniF039: "\f039";
$icon-uniF03A: "\f03a";
$icon-uniF03B: "\f03b";
$icon-uniF03C: "\f03c";
$icon-uniF03D: "\f03d";
$icon-uniF03E: "\f03e";
$icon-uniF040: "\f040";
$icon-uniF041: "\f041";
$icon-uniF042: "\f042";
$icon-uniF044: "\f044";
$icon-uniF046: "\f046";
$icon-uniF053: "\f053";
$icon-uniF054: "\f054";
$icon-uniF055: "\f055";
$icon-uniF057: "\f057";
$icon-uniF058: "\f058";
$icon-uniF059: "\f059";
$icon-uniF060: "\f060";
$icon-uniF061: "\f061";
$icon-uniF062: "\f062";
$icon-uniF063: "\f063";
$icon-uniF064: "\f064";
$icon-uniF065: "\f065";
$icon-uniF067: "\f067";
$icon-uniF068: "\f068";
$icon-uniF069: "\f069";
$icon-uniF06A: "\f06a";
$icon-uniF06B: "\f06b";
$icon-uniF06C: "\f06c";
$icon-uniF06D: "\f06d";
$icon-uniF06E: "\f06e";
$icon-uniF070: "\f070";
$icon-uniF072: "\f072";
$icon-uniF074: "\f074";
$icon-uniF075: "\f075";
$icon-uniF077: "\f077";
$icon-uniF078: "\f078";
$icon-uniF079: "\f079";
$icon-uniF07B: "\f07b";
$icon-uniF07C: "\f07c";
$icon-uniF085: "\f085";
$icon-uniF086: "\f086";
$icon-uniF087: "\f087";
$icon-uniF088: "\f088";
$icon-uniF08B: "\f08b";
$icon-uniF091: "\f091";
$icon-uniF095: "\f095";
$icon-uniF098: "\f098";
$icon-uniF09C: "\f09c";
$icon-uniF0A2: "\f0a2";
$icon-uniF0AC: "\f0ac";
$icon-uniF0AD: "\f0ad";
$icon-uniF0AE: "\f0ae";
$icon-uniF0B0: "\f0b0";
$icon-uniF0C2: "\f0c2";
$icon-uniF0C5: "\f0c5";
$icon-uniF0C6: "\f0c6";
$icon-uniF0C7: "\f0c7";
$icon-uniF0C9: "\f0c9";
$icon-uniF0CA: "\f0ca";
$icon-uniF0CC: "\f0cc";
$icon-uniF0D1: "\f0d1";
$icon-uniF0E0: "\f0e0";
$icon-uniF0E2: "\f0e2";
$icon-uniF0E5: "\f0e5";
$icon-uniF0E7: "\f0e7";
$icon-uniF0ED: "\f0ed";
$icon-uniF0EE: "\f0ee";
$icon-uniF0F3: "\f0f3";
$icon-uniF0F4: "\f0f4";
$icon-uniF0F5: "\f0f5";
$icon-uniF100: "\f100";
$icon-uniF101: "\f101";
$icon-uniF104: "\f104";
$icon-uniF105: "\f105";
$icon-uniF106: "\f106";
$icon-uniF107: "\f107";
$icon-uniF108: "\f108";
$icon-uniF109: "\f109";
$icon-uniF10A: "\f10a";
$icon-uniF10B: "\f10b";
$icon-uniF10C: "\f10c";
$icon-uniF110: "\f110";
$icon-uniF111: "\f111";
$icon-uniF118: "\f118";
$icon-uniF119: "\f119";
$icon-uniF11A: "\f11a";
$icon-uniF121: "\f121";
$icon-uniF122: "\f122";
$icon-uniF124: "\f124";
$icon-uniF128: "\f128";
$icon-uniF129: "\f129";
$icon-uniF12A: "\f12a";
$icon-uniF130: "\f130";
$icon-uniF131: "\f131";
$icon-uniF135: "\f135";
$icon-uniF137: "\f137";
$icon-uniF138: "\f138";
$icon-uniF148: "\f148";
$icon-uniF149: "\f149";
$icon-uniF14A: "\f14a";
$icon-uniF153: "\f153";
$icon-uniF154: "\f154";
$icon-uniF155: "\f155";
$icon-uniF158: "\f158";
$icon-uniF15B: "\f15b";
$icon-uniF15C: "\f15c";
$icon-uniF164: "\f164";
$icon-uniF165: "\f165";
$icon-uniF177: "\f177";
$icon-uniF178: "\f178";
$icon-uniF182: "\f182";
$icon-uniF183: "\f183";
$icon-uniF1B9: "\f1b9";
$icon-uniF1BB: "\f1bb";
$icon-uniF1C0: "\f1c0";
$icon-uniF1D8: "\f1d8";
$icon-uniF1D9: "\f1d9";
$icon-uniF1DA: "\f1da";
$icon-uniF1DE: "\f1de";
$icon-uniF1E6: "\f1e6";
$icon-uniF1EB: "\f1eb";
$icon-uniF1F0: "\f1f0";
$icon-uniF1F6: "\f1f6";
$icon-uniF1F7: "\f1f7";
$icon-uniF1F8: "\f1f8";
$icon-uniF1FE: "\f1fe";
$icon-uniF200: "\f200";
$icon-uniF206: "\f206";
$icon-uniF207: "\f207";
$icon-uniF221: "\f221";
$icon-uniF222: "\f222";
$icon-uniF277: "\f277";
$icon-uniF27A: "\f27a";
$icon-uniF27B: "\f27b";
$icon-uniF291: "\f291";
$icon-uniF295: "\f295";
$icon-adjust: "\e902";
$icon-air: "\e903";
$icon-align-bottom: "\e904";
$icon-archive: "\e905";
$icon-attachment: "\e906";
$icon-back: "\e907";
$icon-bar-graph: "\e909";
$icon-battery: "\e90a";
$icon-beamed-note: "\e90b";
$icon-bell: "\e90c";
$icon-book: "\e90d";
$icon-box: "\e90f";
$icon-briefcase: "\e910";
$icon-browser: "\e911";
$icon-brush: "\e912";
$icon-bug: "\e913";
$icon-calculator: "\e914";
$icon-calendar: "\e915";
$icon-camera: "\e916";
$icon-ccw: "\e917";
$icon-chat: "\e918";
$icon-check: "\e919";
$icon-chevron-down: "\e91a";
$icon-chevron-left: "\e91b";
$icon-chevron-right: "\e91c";
$icon-chevron-small-down: "\e91d";
$icon-chevron-small-left: "\e91e";
$icon-chevron-small-right: "\e91f";
$icon-chevron-small-up: "\e920";
$icon-chevron-thin-down: "\e921";
$icon-chevron-thin-left: "\e922";
$icon-chevron-thin-right: "\e923";
$icon-chevron-thin-up: "\e924";
$icon-chevron-up: "\e925";
$icon-circle: "\e926";
$icon-circle-with-plus: "\e927";
$icon-clipboard: "\e928";
$icon-cloud: "\e929";
$icon-code: "\e92a";
$icon-cog: "\e900";
$icon-compass: "\e92b";
$icon-controller-paus: "\e92c";
$icon-controller-play: "\e92d";
$icon-controller-record: "\e92e";
$icon-controller-stop: "\e92f";
$icon-copy: "\e930";
$icon-credit: "\e931";
$icon-cross: "\e932";
$icon-cup: "\e933";
$icon-cw: "\e934";
$icon-cycle: "\e935";
$icon-database: "\e936";
$icon-direction: "\e937";
$icon-dot-single: "\e938";
$icon-dots-three-horizontal: "\e939";
$icon-dots-three-vertical: "\e93a";
$icon-download: "\e93b";
$icon-drive: "\e93c";
$icon-drop: "\e93d";
$icon-edit: "\e93e";
$icon-email: "\e93f";
$icon-erase: "\e940";
$icon-eraser: "\e941";
$icon-export: "\e942";
$icon-eye: "\e943";
$icon-eye-with-line: "\e944";
$icon-flag: "\e945";
$icon-flash: "\e946";
$icon-flower: "\e947";
$icon-folder: "\e948";
$icon-folder-video: "\e949";
$icon-game-controller: "\e94a";
$icon-globe: "\e94b";
$icon-graduation-cap: "\e94c";
$icon-grid: "\e94d";
$icon-hand: "\e94e";
$icon-heart: "\e94f";
$icon-heart-outlined: "\e950";
$icon-help: "\e951";
$icon-help-with-circle: "\e952";
$icon-home: "\e953";
$icon-hour-glass: "\e954";
$icon-image-inverted: "\e955";
$icon-images: "\e956";
$icon-info-with-circle: "\e957";
$icon-install: "\e958";
$icon-key: "\e959";
$icon-keyboard: "\e95a";
$icon-lab-flask: "\e95b";
$icon-laptop: "\e95c";
$icon-layers: "\e95d";
$icon-leaf: "\e95e";
$icon-level-down: "\e95f";
$icon-link: "\e960";
$icon-list: "\e961";
$icon-location: "\e962";
$icon-location-pin: "\e963";
$icon-lock: "\e964";
$icon-lock-open: "\e965";
$icon-magnifying-glass: "\e966";
$icon-mail: "\e967";
$icon-map: "\e968";
$icon-megaphone: "\e969";
$icon-menu: "\e96a";
$icon-message: "\e96b";
$icon-mobile: "\e96c";
$icon-network: "\e96d";
$icon-new-message: "\e96e";
$icon-old-phone: "\e96f";
$icon-paper-plane: "\e970";
$icon-pencil: "\e971";
$icon-phone: "\e972";
$icon-pie-chart: "\e973";
$icon-pin: "\e974";
$icon-plus: "\e975";
$icon-popup: "\e976";
$icon-power-plug: "\e977";
$icon-print: "\e978";
$icon-quote: "\e979";
$icon-remove-user: "\e97a";
$icon-reply: "\e97b";
$icon-resize-full-screen: "\e97c";
$icon-retweet: "\e97d";
$icon-rocket: "\e97e";
$icon-round-brush: "\e97f";
$icon-ruler: "\e980";
$icon-save: "\e981";
$icon-scissors: "\e982";
$icon-share: "\e983";
$icon-shareable: "\e984";
$icon-shield: "\e985";
$icon-shopping-cart: "\e986";
$icon-shuffle: "\e987";
$icon-signal: "\e988";
$icon-sound: "\e989";
$icon-sound-mix: "\e98a";
$icon-squared-cross: "\e98b";
$icon-squared-minus: "\e98c";
$icon-squared-plus: "\e98d";
$icon-stopwatch: "\e990";
$icon-swap: "\e991";
$icon-switch: "\e992";
$icon-text: "\e993";
$icon-text-document: "\e994";
$icon-thumbs-down: "\e995";
$icon-thumbs-up: "\e996";
$icon-thunder-cloud: "\e997";
$icon-tools: "\e998";
$icon-trash: "\e999";
$icon-triangle-down: "\e99a";
$icon-triangle-up: "\e99b";
$icon-trophy: "\e99c";
$icon-typing: "\e99d";
$icon-uninstall: "\e99e";
$icon-upload: "\e99f";
$icon-upload-to-cloud: "\e9a0";
$icon-user: "\e901";
$icon-users: "\e9a1";
$icon-v-card: "\e9a2";
$icon-video: "\e9a3";
$icon-video-camera: "\e9a4";
$icon-wallet: "\e9a5";
$icon-warning: "\e9a6";
$icon-mic: "\e9a7";
$icon-phone2: "\e9a8";
$icon-clock: "\e9a9";
$icon-alarm: "\e9aa";
$icon-user2: "\e9ab";
$icon-users2: "\e9ac";
$icon-user-plus: "\e9ad";
$icon-user-minus: "\e9ae";
$icon-spinner9: "\e9af";
$icon-search: "\e9b0";
$icon-equalizer: "\e9b1";
$icon-equalizer2: "\e9b2";
$icon-cog2: "\e9b3";
$icon-cogs: "\e9b4";
$icon-loop: "\e9b5";
$icon-sort-amount-asc: "\e9b6";
$icon-sort-amount-desc: "\e9b7";


@font-face {
    font-family: 'Entypo';
    src:
        url('#{$icomoon-font-path}/Entypo.ttf?55hesn') format('truetype'),
        url('#{$icomoon-font-path}/Entypo.woff?55hesn') format('woff'),
        url('#{$icomoon-font-path}/Entypo.svg?55hesn#Entypo') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Entypo' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

	&.icon-uniF001 {
		&:before {
			content: $icon-uniF001;
		}
	}
	&.icon-uniF002 {
		&:before {
			content: $icon-uniF002;
		}
	}
	&.icon-uniF003 {
		&:before {
			content: $icon-uniF003;
		}
	}
	&.icon-uniF004 {
		&:before {
			content: $icon-uniF004;
		}
	}
	&.icon-uniF005 {
		&:before {
			content: $icon-uniF005;
		}
	}
	&.icon-uniF006 {
		&:before {
			content: $icon-uniF006;
		}
	}
	&.icon-uniF009 {
		&:before {
			content: $icon-uniF009;
		}
	}
	&.icon-uniF00C {
		&:before {
			content: $icon-uniF00C;
		}
	}
	&.icon-uniF00D {
		&:before {
			content: $icon-uniF00D;
		}
	}
	&.icon-uniF011 {
		&:before {
			content: $icon-uniF011;
		}
	}
	&.icon-uniF012 {
		&:before {
			content: $icon-uniF012;
		}
	}
	&.icon-uniF013 {
		&:before {
			content: $icon-uniF013;
		}
	}
	&.icon-uniF014 {
		&:before {
			content: $icon-uniF014;
		}
	}
	&.icon-uniF015 {
		&:before {
			content: $icon-uniF015;
		}
	}
	&.icon-uniF017 {
		&:before {
			content: $icon-uniF017;
		}
	}
	&.icon-uniF019 {
		&:before {
			content: $icon-uniF019;
		}
	}
	&.icon-uniF01C {
		&:before {
			content: $icon-uniF01C;
		}
	}
	&.icon-uniF01E {
		&:before {
			content: $icon-uniF01E;
		}
	}
	&.icon-uniF021 {
		&:before {
			content: $icon-uniF021;
		}
	}
	&.icon-uniF023 {
		&:before {
			content: $icon-uniF023;
		}
	}
	&.icon-uniF025 {
		&:before {
			content: $icon-uniF025;
		}
	}
	&.icon-uniF026 {
		&:before {
			content: $icon-uniF026;
		}
	}
	&.icon-uniF028 {
		&:before {
			content: $icon-uniF028;
		}
	}
	&.icon-uniF02B {
		&:before {
			content: $icon-uniF02B;
		}
	}
	&.icon-uniF02C {
		&:before {
			content: $icon-uniF02C;
		}
	}
	&.icon-uniF02D {
		&:before {
			content: $icon-uniF02D;
		}
	}
	&.icon-uniF02E {
		&:before {
			content: $icon-uniF02E;
		}
	}
	&.icon-uniF030 {
		&:before {
			content: $icon-uniF030;
		}
	}
	&.icon-uniF031 {
		&:before {
			content: $icon-uniF031;
		}
	}
	&.icon-uniF032 {
		&:before {
			content: $icon-uniF032;
		}
	}
	&.icon-uniF033 {
		&:before {
			content: $icon-uniF033;
		}
	}
	&.icon-uniF036 {
		&:before {
			content: $icon-uniF036;
		}
	}
	&.icon-uniF037 {
		&:before {
			content: $icon-uniF037;
		}
	}
	&.icon-uniF038 {
		&:before {
			content: $icon-uniF038;
		}
	}
	&.icon-uniF039 {
		&:before {
			content: $icon-uniF039;
		}
	}
	&.icon-uniF03A {
		&:before {
			content: $icon-uniF03A;
		}
	}
	&.icon-uniF03B {
		&:before {
			content: $icon-uniF03B;
		}
	}
	&.icon-uniF03C {
		&:before {
			content: $icon-uniF03C;
		}
	}
	&.icon-uniF03D {
		&:before {
			content: $icon-uniF03D;
		}
	}
	&.icon-uniF03E {
		&:before {
			content: $icon-uniF03E;
		}
	}
	&.icon-uniF040 {
		&:before {
			content: $icon-uniF040;
		}
	}
	&.icon-uniF041 {
		&:before {
			content: $icon-uniF041;
		}
	}
	&.icon-uniF042 {
		&:before {
			content: $icon-uniF042;
		}
	}
	&.icon-uniF044 {
		&:before {
			content: $icon-uniF044;
		}
	}
	&.icon-uniF046 {
		&:before {
			content: $icon-uniF046;
		}
	}
	&.icon-uniF053 {
		&:before {
			content: $icon-uniF053;
		}
	}
	&.icon-uniF054 {
		&:before {
			content: $icon-uniF054;
		}
	}
	&.icon-uniF055 {
		&:before {
			content: $icon-uniF055;
		}
	}
	&.icon-uniF057 {
		&:before {
			content: $icon-uniF057;
		}
	}
	&.icon-uniF058 {
		&:before {
			content: $icon-uniF058;
		}
	}
	&.icon-uniF059 {
		&:before {
			content: $icon-uniF059;
		}
	}
	&.icon-uniF060 {
		&:before {
			content: $icon-uniF060;
		}
	}
	&.icon-uniF061 {
		&:before {
			content: $icon-uniF061;
		}
	}
	&.icon-uniF062 {
		&:before {
			content: $icon-uniF062;
		}
	}
	&.icon-uniF063 {
		&:before {
			content: $icon-uniF063;
		}
	}
	&.icon-uniF064 {
		&:before {
			content: $icon-uniF064;
		}
	}
	&.icon-uniF065 {
		&:before {
			content: $icon-uniF065;
		}
	}
	&.icon-uniF067 {
		&:before {
			content: $icon-uniF067;
		}
	}
	&.icon-uniF068 {
		&:before {
			content: $icon-uniF068;
		}
	}
	&.icon-uniF069 {
		&:before {
			content: $icon-uniF069;
		}
	}
	&.icon-uniF06A {
		&:before {
			content: $icon-uniF06A;
		}
	}
	&.icon-uniF06B {
		&:before {
			content: $icon-uniF06B;
		}
	}
	&.icon-uniF06C {
		&:before {
			content: $icon-uniF06C;
		}
	}
	&.icon-uniF06D {
		&:before {
			content: $icon-uniF06D;
		}
	}
	&.icon-uniF06E {
		&:before {
			content: $icon-uniF06E;
		}
	}
	&.icon-uniF070 {
		&:before {
			content: $icon-uniF070;
		}
	}
	&.icon-uniF072 {
		&:before {
			content: $icon-uniF072;
		}
	}
	&.icon-uniF074 {
		&:before {
			content: $icon-uniF074;
		}
	}
	&.icon-uniF075 {
		&:before {
			content: $icon-uniF075;
		}
	}
	&.icon-uniF077 {
		&:before {
			content: $icon-uniF077;
		}
	}
	&.icon-uniF078 {
		&:before {
			content: $icon-uniF078;
		}
	}
	&.icon-uniF079 {
		&:before {
			content: $icon-uniF079;
		}
	}
	&.icon-uniF07B {
		&:before {
			content: $icon-uniF07B;
		}
	}
	&.icon-uniF07C {
		&:before {
			content: $icon-uniF07C;
		}
	}
	&.icon-uniF085 {
		&:before {
			content: $icon-uniF085;
		}
	}
	&.icon-uniF086 {
		&:before {
			content: $icon-uniF086;
		}
	}
	&.icon-uniF087 {
		&:before {
			content: $icon-uniF087;
		}
	}
	&.icon-uniF088 {
		&:before {
			content: $icon-uniF088;
		}
	}
	&.icon-uniF08B {
		&:before {
			content: $icon-uniF08B;
		}
	}
	&.icon-uniF091 {
		&:before {
			content: $icon-uniF091;
		}
	}
	&.icon-uniF095 {
		&:before {
			content: $icon-uniF095;
		}
	}
	&.icon-uniF098 {
		&:before {
			content: $icon-uniF098;
		}
	}
	&.icon-uniF09C {
		&:before {
			content: $icon-uniF09C;
		}
	}
	&.icon-uniF0A2 {
		&:before {
			content: $icon-uniF0A2;
		}
	}
	&.icon-uniF0AC {
		&:before {
			content: $icon-uniF0AC;
		}
	}
	&.icon-uniF0AD {
		&:before {
			content: $icon-uniF0AD;
		}
	}
	&.icon-uniF0AE {
		&:before {
			content: $icon-uniF0AE;
		}
	}
	&.icon-uniF0B0 {
		&:before {
			content: $icon-uniF0B0;
		}
	}
	&.icon-uniF0C2 {
		&:before {
			content: $icon-uniF0C2;
		}
	}
	&.icon-uniF0C5 {
		&:before {
			content: $icon-uniF0C5;
		}
	}
	&.icon-uniF0C6 {
		&:before {
			content: $icon-uniF0C6;
		}
	}
	&.icon-uniF0C7 {
		&:before {
			content: $icon-uniF0C7;
		}
	}
	&.icon-uniF0C9 {
		&:before {
			content: $icon-uniF0C9;
		}
	}
	&.icon-uniF0CA {
		&:before {
			content: $icon-uniF0CA;
		}
	}
	&.icon-uniF0CC {
		&:before {
			content: $icon-uniF0CC;
		}
	}
	&.icon-uniF0D1 {
		&:before {
			content: $icon-uniF0D1;
		}
	}
	&.icon-uniF0E0 {
		&:before {
			content: $icon-uniF0E0;
		}
	}
	&.icon-uniF0E2 {
		&:before {
			content: $icon-uniF0E2;
		}
	}
	&.icon-uniF0E5 {
		&:before {
			content: $icon-uniF0E5;
		}
	}
	&.icon-uniF0E7 {
		&:before {
			content: $icon-uniF0E7;
		}
	}
	&.icon-uniF0ED {
		&:before {
			content: $icon-uniF0ED;
		}
	}
	&.icon-uniF0EE {
		&:before {
			content: $icon-uniF0EE;
		}
	}
	&.icon-uniF0F3 {
		&:before {
			content: $icon-uniF0F3;
		}
	}
	&.icon-uniF0F4 {
		&:before {
			content: $icon-uniF0F4;
		}
	}
	&.icon-uniF0F5 {
		&:before {
			content: $icon-uniF0F5;
		}
	}
	&.icon-uniF100 {
		&:before {
			content: $icon-uniF100;
		}
	}
	&.icon-uniF101 {
		&:before {
			content: $icon-uniF101;
		}
	}
	&.icon-uniF104 {
		&:before {
			content: $icon-uniF104;
		}
	}
	&.icon-uniF105 {
		&:before {
			content: $icon-uniF105;
		}
	}
	&.icon-uniF106 {
		&:before {
			content: $icon-uniF106;
		}
	}
	&.icon-uniF107 {
		&:before {
			content: $icon-uniF107;
		}
	}
	&.icon-uniF108 {
		&:before {
			content: $icon-uniF108;
		}
	}
	&.icon-uniF109 {
		&:before {
			content: $icon-uniF109;
		}
	}
	&.icon-uniF10A {
		&:before {
			content: $icon-uniF10A;
		}
	}
	&.icon-uniF10B {
		&:before {
			content: $icon-uniF10B;
		}
	}
	&.icon-uniF10C {
		&:before {
			content: $icon-uniF10C;
		}
	}
	&.icon-uniF110 {
		&:before {
			content: $icon-uniF110;
		}
	}
	&.icon-uniF111 {
		&:before {
			content: $icon-uniF111;
		}
	}
	&.icon-uniF118 {
		&:before {
			content: $icon-uniF118;
		}
	}
	&.icon-uniF119 {
		&:before {
			content: $icon-uniF119;
		}
	}
	&.icon-uniF11A {
		&:before {
			content: $icon-uniF11A;
		}
	}
	&.icon-uniF121 {
		&:before {
			content: $icon-uniF121;
		}
	}
	&.icon-uniF122 {
		&:before {
			content: $icon-uniF122;
		}
	}
	&.icon-uniF124 {
		&:before {
			content: $icon-uniF124;
		}
	}
	&.icon-uniF128 {
		&:before {
			content: $icon-uniF128;
		}
	}
	&.icon-uniF129 {
		&:before {
			content: $icon-uniF129;
		}
	}
	&.icon-uniF12A {
		&:before {
			content: $icon-uniF12A;
		}
	}
	&.icon-uniF130 {
		&:before {
			content: $icon-uniF130;
		}
	}
	&.icon-uniF131 {
		&:before {
			content: $icon-uniF131;
		}
	}
	&.icon-uniF135 {
		&:before {
			content: $icon-uniF135;
		}
	}
	&.icon-uniF137 {
		&:before {
			content: $icon-uniF137;
		}
	}
	&.icon-uniF138 {
		&:before {
			content: $icon-uniF138;
		}
	}
	&.icon-uniF148 {
		&:before {
			content: $icon-uniF148;
		}
	}
	&.icon-uniF149 {
		&:before {
			content: $icon-uniF149;
		}
	}
	&.icon-uniF14A {
		&:before {
			content: $icon-uniF14A;
		}
	}
	&.icon-uniF153 {
		&:before {
			content: $icon-uniF153;
		}
	}
	&.icon-uniF154 {
		&:before {
			content: $icon-uniF154;
		}
	}
	&.icon-uniF155 {
		&:before {
			content: $icon-uniF155;
		}
	}
	&.icon-uniF158 {
		&:before {
			content: $icon-uniF158;
		}
	}
	&.icon-uniF15B {
		&:before {
			content: $icon-uniF15B;
		}
	}
	&.icon-uniF15C {
		&:before {
			content: $icon-uniF15C;
		}
	}
	&.icon-uniF164 {
		&:before {
			content: $icon-uniF164;
		}
	}
	&.icon-uniF165 {
		&:before {
			content: $icon-uniF165;
		}
	}
	&.icon-uniF177 {
		&:before {
			content: $icon-uniF177;
		}
	}
	&.icon-uniF178 {
		&:before {
			content: $icon-uniF178;
		}
	}
	&.icon-uniF182 {
		&:before {
			content: $icon-uniF182;
		}
	}
	&.icon-uniF183 {
		&:before {
			content: $icon-uniF183;
		}
	}
	&.icon-uniF1B9 {
		&:before {
			content: $icon-uniF1B9;
		}
	}
	&.icon-uniF1BB {
		&:before {
			content: $icon-uniF1BB;
		}
	}
	&.icon-uniF1C0 {
		&:before {
			content: $icon-uniF1C0;
		}
	}
	&.icon-uniF1D8 {
		&:before {
			content: $icon-uniF1D8;
		}
	}
	&.icon-uniF1D9 {
		&:before {
			content: $icon-uniF1D9;
		}
	}
	&.icon-uniF1DA {
		&:before {
			content: $icon-uniF1DA;
		}
	}
	&.icon-uniF1DE {
		&:before {
			content: $icon-uniF1DE;
		}
	}
	&.icon-uniF1E6 {
		&:before {
			content: $icon-uniF1E6;
		}
	}
	&.icon-uniF1EB {
		&:before {
			content: $icon-uniF1EB;
		}
	}
	&.icon-uniF1F0 {
		&:before {
			content: $icon-uniF1F0;
		}
	}
	&.icon-uniF1F6 {
		&:before {
			content: $icon-uniF1F6;
		}
	}
	&.icon-uniF1F7 {
		&:before {
			content: $icon-uniF1F7;
		}
	}
	&.icon-uniF1F8 {
		&:before {
			content: $icon-uniF1F8;
		}
	}
	&.icon-uniF1FE {
		&:before {
			content: $icon-uniF1FE;
		}
	}
	&.icon-uniF200 {
		&:before {
			content: $icon-uniF200;
		}
	}
	&.icon-uniF206 {
		&:before {
			content: $icon-uniF206;
		}
	}
	&.icon-uniF207 {
		&:before {
			content: $icon-uniF207;
		}
	}
	&.icon-uniF221 {
		&:before {
			content: $icon-uniF221;
		}
	}
	&.icon-uniF222 {
		&:before {
			content: $icon-uniF222;
		}
	}
	&.icon-uniF277 {
		&:before {
			content: $icon-uniF277;
		}
	}
	&.icon-uniF27A {
		&:before {
			content: $icon-uniF27A;
		}
	}
	&.icon-uniF27B {
		&:before {
			content: $icon-uniF27B;
		}
	}
	&.icon-uniF291 {
		&:before {
			content: $icon-uniF291;
		}
	}
	&.icon-uniF295 {
		&:before {
			content: $icon-uniF295;
		}
	}
	&.icon-adjust {
		&:before {
			content: $icon-adjust;
		}
	}
	&.icon-air {
		&:before {
			content: $icon-air;
		}
	}
	&.icon-align-bottom {
		&:before {
			content: $icon-align-bottom;
		}
	}
	&.icon-archive {
		&:before {
			content: $icon-archive;
		}
	}
	&.icon-attachment {
		&:before {
			content: $icon-attachment;
		}
	}
	&.icon-back {
		&:before {
			content: $icon-back;
		}
	}
	&.icon-bar-graph {
		&:before {
			content: $icon-bar-graph;
		}
	}
	&.icon-battery {
		&:before {
			content: $icon-battery;
		}
	}
	&.icon-beamed-note {
		&:before {
			content: $icon-beamed-note;
		}
	}
	&.icon-bell {
		&:before {
			content: $icon-bell;
		}
	}
	&.icon-book {
		&:before {
			content: $icon-book;
		}
	}
	&.icon-box {
		&:before {
			content: $icon-box;
		}
	}
	&.icon-briefcase {
		&:before {
			content: $icon-briefcase;
		}
	}
	&.icon-browser {
		&:before {
			content: $icon-browser;
		}
	}
	&.icon-brush {
		&:before {
			content: $icon-brush;
		}
	}
	&.icon-bug {
		&:before {
			content: $icon-bug;
		}
	}
	&.icon-calculator {
		&:before {
			content: $icon-calculator;
		}
	}
	&.icon-calendar {
		&:before {
			content: $icon-calendar;
		}
	}
	&.icon-camera {
		&:before {
			content: $icon-camera;
		}
	}
	&.icon-ccw {
		&:before {
			content: $icon-ccw;
		}
	}
	&.icon-chat {
		&:before {
			content: $icon-chat;
		}
	}
	&.icon-check {
		&:before {
			content: $icon-check;
		}
	}
	&.icon-chevron-down {
		&:before {
			content: $icon-chevron-down;
		}
	}
	&.icon-chevron-left {
		&:before {
			content: $icon-chevron-left;
		}
	}
	&.icon-chevron-right {
		&:before {
			content: $icon-chevron-right;
		}
	}
	&.icon-chevron-small-down {
		&:before {
			content: $icon-chevron-small-down;
		}
	}
	&.icon-chevron-small-left {
		&:before {
			content: $icon-chevron-small-left;
		}
	}
	&.icon-chevron-small-right {
		&:before {
			content: $icon-chevron-small-right;
		}
	}
	&.icon-chevron-small-up {
		&:before {
			content: $icon-chevron-small-up;
		}
	}
	&.icon-chevron-thin-down {
		&:before {
			content: $icon-chevron-thin-down;
		}
	}
	&.icon-chevron-thin-left {
		&:before {
			content: $icon-chevron-thin-left;
		}
	}
	&.icon-chevron-thin-right {
		&:before {
			content: $icon-chevron-thin-right;
		}
	}
	&.icon-chevron-thin-up {
		&:before {
			content: $icon-chevron-thin-up;
		}
	}
	&.icon-chevron-up {
		&:before {
			content: $icon-chevron-up;
		}
	}
	&.icon-circle {
		&:before {
			content: $icon-circle;
		}
	}
	&.icon-circle-with-plus {
		&:before {
			content: $icon-circle-with-plus;
		}
	}
	&.icon-clipboard {
		&:before {
			content: $icon-clipboard;
		}
	}
	&.icon-cloud {
		&:before {
			content: $icon-cloud;
		}
	}
	&.icon-code {
		&:before {
			content: $icon-code;
		}
	}
	&.icon-cog {
		&:before {
			content: $icon-cog;
		}
	}
	&.icon-compass {
		&:before {
			content: $icon-compass;
		}
	}
	&.icon-controller-paus {
		&:before {
			content: $icon-controller-paus;
		}
	}
	&.icon-controller-play {
		&:before {
			content: $icon-controller-play;
		}
	}
	&.icon-controller-record {
		&:before {
			content: $icon-controller-record;
		}
	}
	&.icon-controller-stop {
		&:before {
			content: $icon-controller-stop;
		}
	}
	&.icon-copy {
		&:before {
			content: $icon-copy;
		}
	}
	&.icon-credit {
		&:before {
			content: $icon-credit;
		}
	}
	&.icon-cross {
		&:before {
			content: $icon-cross;
		}
	}
	&.icon-cup {
		&:before {
			content: $icon-cup;
		}
	}
	&.icon-cw {
		&:before {
			content: $icon-cw;
		}
	}
	&.icon-cycle {
		&:before {
			content: $icon-cycle;
		}
	}
	&.icon-database {
		&:before {
			content: $icon-database;
		}
	}
	&.icon-direction {
		&:before {
			content: $icon-direction;
		}
	}
	&.icon-dot-single {
		&:before {
			content: $icon-dot-single;
		}
	}
	&.icon-dots-three-horizontal {
		&:before {
			content: $icon-dots-three-horizontal;
		}
	}
	&.icon-dots-three-vertical {
		&:before {
			content: $icon-dots-three-vertical;
		}
	}
	&.icon-download {
		&:before {
			content: $icon-download;
		}
	}
	&.icon-drive {
		&:before {
			content: $icon-drive;
		}
	}
	&.icon-drop {
		&:before {
			content: $icon-drop;
		}
	}
	&.icon-edit {
		&:before {
			content: $icon-edit;
		}
	}
	&.icon-email {
		&:before {
			content: $icon-email;
		}
	}
	&.icon-erase {
		&:before {
			content: $icon-erase;
		}
	}
	&.icon-eraser {
		&:before {
			content: $icon-eraser;
		}
	}
	&.icon-export {
		&:before {
			content: $icon-export;
		}
	}
	&.icon-eye {
		&:before {
			content: $icon-eye;
		}
	}
	&.icon-eye-with-line {
		&:before {
			content: $icon-eye-with-line;
		}
	}
	&.icon-flag {
		&:before {
			content: $icon-flag;
		}
	}
	&.icon-flash {
		&:before {
			content: $icon-flash;
		}
	}
	&.icon-flower {
		&:before {
			content: $icon-flower;
		}
	}
	&.icon-folder {
		&:before {
			content: $icon-folder;
		}
	}
	&.icon-folder-video {
		&:before {
			content: $icon-folder-video;
		}
	}
	&.icon-game-controller {
		&:before {
			content: $icon-game-controller;
		}
	}
	&.icon-globe {
		&:before {
			content: $icon-globe;
		}
	}
	&.icon-graduation-cap {
		&:before {
			content: $icon-graduation-cap;
		}
	}
	&.icon-grid {
		&:before {
			content: $icon-grid;
		}
	}
	&.icon-hand {
		&:before {
			content: $icon-hand;
		}
	}
	&.icon-heart {
		&:before {
			content: $icon-heart;
		}
	}
	&.icon-heart-outlined {
		&:before {
			content: $icon-heart-outlined;
		}
	}
	&.icon-help {
		&:before {
			content: $icon-help;
		}
	}
	&.icon-help-with-circle {
		&:before {
			content: $icon-help-with-circle;
		}
	}
	&.icon-home {
		&:before {
			content: $icon-home;
		}
	}
	&.icon-hour-glass {
		&:before {
			content: $icon-hour-glass;
		}
	}
	&.icon-image-inverted {
		&:before {
			content: $icon-image-inverted;
		}
	}
	&.icon-images {
		&:before {
			content: $icon-images;
		}
	}
	&.icon-info-with-circle {
		&:before {
			content: $icon-info-with-circle;
		}
	}
	&.icon-install {
		&:before {
			content: $icon-install;
		}
	}
	&.icon-key {
		&:before {
			content: $icon-key;
		}
	}
	&.icon-keyboard {
		&:before {
			content: $icon-keyboard;
		}
	}
	&.icon-lab-flask {
		&:before {
			content: $icon-lab-flask;
		}
	}
	&.icon-laptop {
		&:before {
			content: $icon-laptop;
		}
	}
	&.icon-layers {
		&:before {
			content: $icon-layers;
		}
	}
	&.icon-leaf {
		&:before {
			content: $icon-leaf;
		}
	}
	&.icon-level-down {
		&:before {
			content: $icon-level-down;
		}
	}
	&.icon-link {
		&:before {
			content: $icon-link;
		}
	}
	&.icon-list {
		&:before {
			content: $icon-list;
		}
	}
	&.icon-location {
		&:before {
			content: $icon-location;
		}
	}
	&.icon-location-pin {
		&:before {
			content: $icon-location-pin;
		}
	}
	&.icon-lock {
		&:before {
			content: $icon-lock;
		}
	}
	&.icon-lock-open {
		&:before {
			content: $icon-lock-open;
		}
	}
	&.icon-magnifying-glass {
		&:before {
			content: $icon-magnifying-glass;
		}
	}
	&.icon-mail {
		&:before {
			content: $icon-mail;
		}
	}
	&.icon-map {
		&:before {
			content: $icon-map;
		}
	}
	&.icon-megaphone {
		&:before {
			content: $icon-megaphone;
		}
	}
	&.icon-menu {
		&:before {
			content: $icon-menu;
		}
	}
	&.icon-message {
		&:before {
			content: $icon-message;
		}
	}
	&.icon-mobile {
		&:before {
			content: $icon-mobile;
		}
	}
	&.icon-network {
		&:before {
			content: $icon-network;
		}
	}
	&.icon-new-message {
		&:before {
			content: $icon-new-message;
		}
	}
	&.icon-old-phone {
		&:before {
			content: $icon-old-phone;
		}
	}
	&.icon-paper-plane {
		&:before {
			content: $icon-paper-plane;
		}
	}
	&.icon-pencil {
		&:before {
			content: $icon-pencil;
		}
	}
	&.icon-phone {
		&:before {
			content: $icon-phone;
		}
	}
	&.icon-pie-chart {
		&:before {
			content: $icon-pie-chart;
		}
	}
	&.icon-pin {
		&:before {
			content: $icon-pin;
		}
	}
	&.icon-plus {
		&:before {
			content: $icon-plus;
		}
	}
	&.icon-popup {
		&:before {
			content: $icon-popup;
		}
	}
	&.icon-power-plug {
		&:before {
			content: $icon-power-plug;
		}
	}
	&.icon-print {
		&:before {
			content: $icon-print;
		}
	}
	&.icon-quote {
		&:before {
			content: $icon-quote;
		}
	}
	&.icon-remove-user {
		&:before {
			content: $icon-remove-user;
		}
	}
	&.icon-reply {
		&:before {
			content: $icon-reply;
		}
	}
	&.icon-resize-full-screen {
		&:before {
			content: $icon-resize-full-screen;
		}
	}
	&.icon-retweet {
		&:before {
			content: $icon-retweet;
		}
	}
	&.icon-rocket {
		&:before {
			content: $icon-rocket;
		}
	}
	&.icon-round-brush {
		&:before {
			content: $icon-round-brush;
		}
	}
	&.icon-ruler {
		&:before {
			content: $icon-ruler;
		}
	}
	&.icon-save {
		&:before {
			content: $icon-save;
		}
	}
	&.icon-scissors {
		&:before {
			content: $icon-scissors;
		}
	}
	&.icon-share {
		&:before {
			content: $icon-share;
		}
	}
	&.icon-shareable {
		&:before {
			content: $icon-shareable;
		}
	}
	&.icon-shield {
		&:before {
			content: $icon-shield;
		}
	}
	&.icon-shopping-cart {
		&:before {
			content: $icon-shopping-cart;
		}
	}
	&.icon-shuffle {
		&:before {
			content: $icon-shuffle;
		}
	}
	&.icon-signal {
		&:before {
			content: $icon-signal;
		}
	}
	&.icon-sound {
		&:before {
			content: $icon-sound;
		}
	}
	&.icon-sound-mix {
		&:before {
			content: $icon-sound-mix;
		}
	}
	&.icon-squared-cross {
		&:before {
			content: $icon-squared-cross;
		}
	}
	&.icon-squared-minus {
		&:before {
			content: $icon-squared-minus;
		}
	}
	&.icon-squared-plus {
		&:before {
			content: $icon-squared-plus;
		}
	}
	&.icon-stopwatch {
		&:before {
			content: $icon-stopwatch;
		}
	}
	&.icon-swap {
		&:before {
			content: $icon-swap;
		}
	}
	&.icon-switch {
		&:before {
			content: $icon-switch;
		}
	}
	&.icon-text {
		&:before {
			content: $icon-text;
		}
	}
	&.icon-text-document {
		&:before {
			content: $icon-text-document;
		}
	}
	&.icon-thumbs-down {
		&:before {
			content: $icon-thumbs-down;
		}
	}
	&.icon-thumbs-up {
		&:before {
			content: $icon-thumbs-up;
		}
	}
	&.icon-thunder-cloud {
		&:before {
			content: $icon-thunder-cloud;
		}
	}
	&.icon-tools {
		&:before {
			content: $icon-tools;
		}
	}
	&.icon-trash {
		&:before {
			content: $icon-trash;
		}
	}
	&.icon-triangle-down {
		&:before {
			content: $icon-triangle-down;
		}
	}
	&.icon-triangle-up {
		&:before {
			content: $icon-triangle-up;
		}
	}
	&.icon-trophy {
		&:before {
			content: $icon-trophy;
		}
	}
	&.icon-typing {
		&:before {
			content: $icon-typing;
		}
	}
	&.icon-uninstall {
		&:before {
			content: $icon-uninstall;
		}
	}
	&.icon-upload {
		&:before {
			content: $icon-upload;
		}
	}
	&.icon-upload-to-cloud {
		&:before {
			content: $icon-upload-to-cloud;
		}
	}
	&.icon-user {
		&:before {
			content: $icon-user;
		}
	}
	&.icon-users {
		&:before {
			content: $icon-users;
		}
	}
	&.icon-v-card {
		&:before {
			content: $icon-v-card;
		}
	}
	&.icon-video {
		&:before {
			content: $icon-video;
		}
	}
	&.icon-video-camera {
		&:before {
			content: $icon-video-camera;
		}
	}
	&.icon-wallet {
		&:before {
			content: $icon-wallet;
		}
	}
	&.icon-warning {
		&:before {
			content: $icon-warning;
		}
	}
	&.icon-mic {
		&:before {
			content: $icon-mic;
		}
	}
	&.icon-phone2 {
		&:before {
			content: $icon-phone2;
		}
	}
	&.icon-clock {
		&:before {
			content: $icon-clock;
		}
	}
	&.icon-alarm {
		&:before {
			content: $icon-alarm;
		}
	}
	&.icon-user2 {
		&:before {
			content: $icon-user2;
		}
	}
	&.icon-users2 {
		&:before {
			content: $icon-users2;
		}
	}
	&.icon-user-plus {
		&:before {
			content: $icon-user-plus;
		}
	}
	&.icon-user-minus {
		&:before {
			content: $icon-user-minus;
		}
	}
	&.icon-spinner9 {
		&:before {
			content: $icon-spinner9;
		}
	}
	&.icon-search {
		&:before {
			content: $icon-search;
		}
	}
	&.icon-equalizer {
		&:before {
			content: $icon-equalizer;
		}
	}
	&.icon-equalizer2 {
		&:before {
			content: $icon-equalizer2;
		}
	}
	&.icon-cog2 {
		&:before {
			content: $icon-cog2;
		}
	}
	&.icon-cogs {
		&:before {
			content: $icon-cogs;
		}
	}
	&.icon-loop {
		&:before {
			content: $icon-loop;
		}
	}
	&.icon-sort-amount-asc {
		&:before {
			content: $icon-sort-amount-asc;
		}
	}
	&.icon-sort-amount-desc {
		&:before {
			content: $icon-sort-amount-desc;
		}
	}
}