@font-face {
    font-family: 'Entypo';
    src:
        url('../Entypo.ttf?d6nq4f') format('truetype'),
        url('../Entypo.woff?d6nq4f') format('woff'),
        url('../Entypo.svg?d6nq4f#Entypo') format('svg');
    font-weight: normal;
    font-style: normal;
}

.entypo-icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Entypo' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-uniF001:before {
    content: "\f001";
}
.icon-uniF002:before {
    content: "\f002";
}
.icon-uniF003:before {
    content: "\f003";
}
.icon-uniF004:before {
    content: "\f004";
}
.icon-uniF005:before {
    content: "\f005";
}
.icon-uniF006:before {
    content: "\f006";
}
.icon-uniF009:before {
    content: "\f009";
}
.icon-uniF00C:before {
    content: "\f00c";
}
.icon-uniF00D:before {
    content: "\f00d";
}
.icon-uniF011:before {
    content: "\f011";
}
.icon-uniF012:before {
    content: "\f012";
}
.icon-uniF013:before {
    content: "\f013";
}
.icon-uniF014:before {
    content: "\f014";
}
.icon-uniF015:before {
    content: "\f015";
}
.icon-uniF017:before {
    content: "\f017";
}
.icon-uniF019:before {
    content: "\f019";
}
.icon-uniF01C:before {
    content: "\f01c";
}
.icon-uniF01E:before {
    content: "\f01e";
}
.icon-uniF021:before {
    content: "\f021";
}
.icon-uniF023:before {
    content: "\f023";
}
.icon-uniF025:before {
    content: "\f025";
}
.icon-uniF026:before {
    content: "\f026";
}
.icon-uniF028:before {
    content: "\f028";
}
.icon-uniF02B:before {
    content: "\f02b";
}
.icon-uniF02C:before {
    content: "\f02c";
}
.icon-uniF02D:before {
    content: "\f02d";
}
.icon-uniF02E:before {
    content: "\f02e";
}
.icon-uniF030:before {
    content: "\f030";
}
.icon-uniF031:before {
    content: "\f031";
}
.icon-uniF032:before {
    content: "\f032";
}
.icon-uniF033:before {
    content: "\f033";
}
.icon-uniF036:before {
    content: "\f036";
}
.icon-uniF037:before {
    content: "\f037";
}
.icon-uniF038:before {
    content: "\f038";
}
.icon-uniF039:before {
    content: "\f039";
}
.icon-uniF03A:before {
    content: "\f03a";
}
.icon-uniF03B:before {
    content: "\f03b";
}
.icon-uniF03C:before {
    content: "\f03c";
}
.icon-uniF03D:before {
    content: "\f03d";
}
.icon-uniF03E:before {
    content: "\f03e";
}
.icon-uniF040:before {
    content: "\f040";
}
.icon-uniF041:before {
    content: "\f041";
}
.icon-uniF042:before {
    content: "\f042";
}
.icon-uniF044:before {
    content: "\f044";
}
.icon-uniF046:before {
    content: "\f046";
}
.icon-uniF053:before {
    content: "\f053";
}
.icon-uniF054:before {
    content: "\f054";
}
.icon-uniF055:before {
    content: "\f055";
}
.icon-uniF057:before {
    content: "\f057";
}
.icon-uniF058:before {
    content: "\f058";
}
.icon-uniF059:before {
    content: "\f059";
}
.icon-uniF060:before {
    content: "\f060";
}
.icon-uniF061:before {
    content: "\f061";
}
.icon-uniF062:before {
    content: "\f062";
}
.icon-uniF063:before {
    content: "\f063";
}
.icon-uniF064:before {
    content: "\f064";
}
.icon-uniF065:before {
    content: "\f065";
}
.icon-uniF067:before {
    content: "\f067";
}
.icon-uniF068:before {
    content: "\f068";
}
.icon-uniF069:before {
    content: "\f069";
}
.icon-uniF06A:before {
    content: "\f06a";
}
.icon-uniF06B:before {
    content: "\f06b";
}
.icon-uniF06C:before {
    content: "\f06c";
}
.icon-uniF06D:before {
    content: "\f06d";
}
.icon-uniF06E:before {
    content: "\f06e";
}
.icon-uniF070:before {
    content: "\f070";
}
.icon-uniF072:before {
    content: "\f072";
}
.icon-uniF074:before {
    content: "\f074";
}
.icon-uniF075:before {
    content: "\f075";
}
.icon-uniF077:before {
    content: "\f077";
}
.icon-uniF078:before {
    content: "\f078";
}
.icon-uniF079:before {
    content: "\f079";
}
.icon-uniF07B:before {
    content: "\f07b";
}
.icon-uniF07C:before {
    content: "\f07c";
}
.icon-uniF085:before {
    content: "\f085";
}
.icon-uniF086:before {
    content: "\f086";
}
.icon-uniF087:before {
    content: "\f087";
}
.icon-uniF088:before {
    content: "\f088";
}
.icon-uniF08B:before {
    content: "\f08b";
}
.icon-uniF091:before {
    content: "\f091";
}
.icon-uniF095:before {
    content: "\f095";
}
.icon-uniF098:before {
    content: "\f098";
}
.icon-uniF09C:before {
    content: "\f09c";
}
.icon-uniF0A2:before {
    content: "\f0a2";
}
.icon-uniF0AC:before {
    content: "\f0ac";
}
.icon-uniF0AD:before {
    content: "\f0ad";
}
.icon-uniF0AE:before {
    content: "\f0ae";
}
.icon-uniF0B0:before {
    content: "\f0b0";
}
.icon-uniF0C2:before {
    content: "\f0c2";
}
.icon-uniF0C5:before {
    content: "\f0c5";
}
.icon-uniF0C6:before {
    content: "\f0c6";
}
.icon-uniF0C7:before {
    content: "\f0c7";
}
.icon-uniF0C9:before {
    content: "\f0c9";
}
.icon-uniF0CA:before {
    content: "\f0ca";
}
.icon-uniF0CC:before {
    content: "\f0cc";
}
.icon-uniF0D1:before {
    content: "\f0d1";
}
.icon-uniF0E0:before {
    content: "\f0e0";
}
.icon-uniF0E2:before {
    content: "\f0e2";
}
.icon-uniF0E5:before {
    content: "\f0e5";
}
.icon-uniF0E7:before {
    content: "\f0e7";
}
.icon-uniF0ED:before {
    content: "\f0ed";
}
.icon-uniF0EE:before {
    content: "\f0ee";
}
.icon-uniF0F3:before {
    content: "\f0f3";
}
.icon-uniF0F4:before {
    content: "\f0f4";
}
.icon-uniF0F5:before {
    content: "\f0f5";
}
.icon-uniF100:before {
    content: "\f100";
}
.icon-uniF101:before {
    content: "\f101";
}
.icon-uniF104:before {
    content: "\f104";
}
.icon-uniF105:before {
    content: "\f105";
}
.icon-uniF106:before {
    content: "\f106";
}
.icon-uniF107:before {
    content: "\f107";
}
.icon-uniF108:before {
    content: "\f108";
}
.icon-uniF109:before {
    content: "\f109";
}
.icon-uniF10A:before {
    content: "\f10a";
}
.icon-uniF10B:before {
    content: "\f10b";
}
.icon-uniF10C:before {
    content: "\f10c";
}
.icon-uniF110:before {
    content: "\f110";
}
.icon-uniF111:before {
    content: "\f111";
}
.icon-uniF118:before {
    content: "\f118";
}
.icon-uniF119:before {
    content: "\f119";
}
.icon-uniF11A:before {
    content: "\f11a";
}
.icon-uniF121:before {
    content: "\f121";
}
.icon-uniF122:before {
    content: "\f122";
}
.icon-uniF124:before {
    content: "\f124";
}
.icon-uniF128:before {
    content: "\f128";
}
.icon-uniF129:before {
    content: "\f129";
}
.icon-uniF12A:before {
    content: "\f12a";
}
.icon-uniF130:before {
    content: "\f130";
}
.icon-uniF131:before {
    content: "\f131";
}
.icon-uniF135:before {
    content: "\f135";
}
.icon-uniF137:before {
    content: "\f137";
}
.icon-uniF138:before {
    content: "\f138";
}
.icon-uniF148:before {
    content: "\f148";
}
.icon-uniF149:before {
    content: "\f149";
}
.icon-uniF14A:before {
    content: "\f14a";
}
.icon-uniF153:before {
    content: "\f153";
}
.icon-uniF154:before {
    content: "\f154";
}
.icon-uniF155:before {
    content: "\f155";
}
.icon-uniF158:before {
    content: "\f158";
}
.icon-uniF15B:before {
    content: "\f15b";
}
.icon-uniF15C:before {
    content: "\f15c";
}
.icon-uniF164:before {
    content: "\f164";
}
.icon-uniF165:before {
    content: "\f165";
}
.icon-uniF177:before {
    content: "\f177";
}
.icon-uniF178:before {
    content: "\f178";
}
.icon-uniF182:before {
    content: "\f182";
}
.icon-uniF183:before {
    content: "\f183";
}
.icon-uniF1B9:before {
    content: "\f1b9";
}
.icon-uniF1BB:before {
    content: "\f1bb";
}
.icon-uniF1C0:before {
    content: "\f1c0";
}
.icon-uniF1D8:before {
    content: "\f1d8";
}
.icon-uniF1D9:before {
    content: "\f1d9";
}
.icon-uniF1DA:before {
    content: "\f1da";
}
.icon-uniF1DE:before {
    content: "\f1de";
}
.icon-uniF1E6:before {
    content: "\f1e6";
}
.icon-uniF1EB:before {
    content: "\f1eb";
}
.icon-uniF1F0:before {
    content: "\f1f0";
}
.icon-uniF1F6:before {
    content: "\f1f6";
}
.icon-uniF1F7:before {
    content: "\f1f7";
}
.icon-uniF1F8:before {
    content: "\f1f8";
}
.icon-uniF1FE:before {
    content: "\f1fe";
}
.icon-uniF200:before {
    content: "\f200";
}
.icon-uniF206:before {
    content: "\f206";
}
.icon-uniF207:before {
    content: "\f207";
}
.icon-uniF221:before {
    content: "\f221";
}
.icon-uniF222:before {
    content: "\f222";
}
.icon-uniF277:before {
    content: "\f277";
}
.icon-uniF27A:before {
    content: "\f27a";
}
.icon-uniF27B:before {
    content: "\f27b";
}
.icon-uniF291:before {
    content: "\f291";
}
.icon-uniF295:before {
    content: "\f295";
}
.icon-adjust:before {
    content: "\e902";
}
.icon-air:before {
    content: "\e903";
}
.icon-align-bottom:before {
    content: "\e904";
}
.icon-archive:before {
    content: "\e905";
}
.icon-attachment:before {
    content: "\e906";
}
.icon-back:before {
    content: "\e907";
}
.icon-bar-graph:before {
    content: "\e909";
}
.icon-battery:before {
    content: "\e90a";
}
.icon-beamed-note:before {
    content: "\e90b";
}
.icon-bell:before {
    content: "\e90c";
}
.icon-book:before {
    content: "\e90d";
}
.icon-box:before {
    content: "\e90f";
}
.icon-briefcase:before {
    content: "\e910";
}
.icon-browser:before {
    content: "\e911";
}
.icon-brush:before {
    content: "\e912";
}
.icon-bug:before {
    content: "\e913";
}
.icon-calculator:before {
    content: "\e914";
}
.icon-calendar:before {
    content: "\e915";
}
.icon-camera:before {
    content: "\e916";
}
.icon-ccw:before {
    content: "\e917";
}
.icon-chat:before {
    content: "\e918";
}
.icon-check:before {
    content: "\e919";
}
.icon-chevron-down:before {
    content: "\e91a";
}
.icon-chevron-left:before {
    content: "\e91b";
}
.icon-chevron-right:before {
    content: "\e91c";
}
.icon-chevron-small-down:before {
    content: "\e91d";
}
.icon-chevron-small-left:before {
    content: "\e91e";
}
.icon-chevron-small-right:before {
    content: "\e91f";
}
.icon-chevron-small-up:before {
    content: "\e920";
}
.icon-chevron-thin-down:before {
    content: "\e921";
}
.icon-chevron-thin-left:before {
    content: "\e922";
}
.icon-chevron-thin-right:before {
    content: "\e923";
}
.icon-chevron-thin-up:before {
    content: "\e924";
}
.icon-chevron-up:before {
    content: "\e925";
}
.icon-circle:before {
    content: "\e926";
}
.icon-circle-with-plus:before {
    content: "\e927";
}
.icon-clipboard:before {
    content: "\e928";
}
.icon-cloud:before {
    content: "\e929";
}
.icon-code:before {
    content: "\e92a";
}
.icon-cog:before {
    content: "\e900";
}
.icon-compass:before {
    content: "\e92b";
}
.icon-controller-paus:before {
    content: "\e92c";
}
.icon-controller-play:before {
    content: "\e92d";
}
.icon-controller-record:before {
    content: "\e92e";
}
.icon-controller-stop:before {
    content: "\e92f";
}
.icon-copy:before {
    content: "\e930";
}
.icon-credit:before {
    content: "\e931";
}
.icon-cross:before {
    content: "\e932";
}
.icon-cup:before {
    content: "\e933";
}
.icon-cw:before {
    content: "\e934";
}
.icon-cycle:before {
    content: "\e935";
}
.icon-database:before {
    content: "\e936";
}
.icon-direction:before {
    content: "\e937";
}
.icon-dot-single:before {
    content: "\e938";
}
.icon-dots-three-horizontal:before {
    content: "\e939";
}
.icon-dots-three-vertical:before {
    content: "\e93a";
}
.icon-download:before {
    content: "\e93b";
}
.icon-drive:before {
    content: "\e93c";
}
.icon-drop:before {
    content: "\e93d";
}
.icon-edit:before {
    content: "\e93e";
}
.icon-email:before {
    content: "\e93f";
}
.icon-erase:before {
    content: "\e940";
}
.icon-eraser:before {
    content: "\e941";
}
.icon-export:before {
    content: "\e942";
}
.icon-eye:before {
    content: "\e943";
}
.icon-eye-with-line:before {
    content: "\e944";
}
.icon-flag:before {
    content: "\e945";
}
.icon-flash:before {
    content: "\e946";
}
.icon-flower:before {
    content: "\e947";
}
.icon-folder:before {
    content: "\e948";
}
.icon-folder-video:before {
    content: "\e949";
}
.icon-game-controller:before {
    content: "\e94a";
}
.icon-globe:before {
    content: "\e94b";
}
.icon-graduation-cap:before {
    content: "\e94c";
}
.icon-grid:before {
    content: "\e94d";
}
.icon-hand:before {
    content: "\e94e";
}
.icon-heart:before {
    content: "\e94f";
}
.icon-heart-outlined:before {
    content: "\e950";
}
.icon-help:before {
    content: "\e951";
}
.icon-help-with-circle:before {
    content: "\e952";
}
.icon-home:before {
    content: "\e953";
}
.icon-hour-glass:before {
    content: "\e954";
}
.icon-image-inverted:before {
    content: "\e955";
}
.icon-images:before {
    content: "\e956";
}
.icon-info-with-circle:before {
    content: "\e957";
}
.icon-install:before {
    content: "\e958";
}
.icon-key:before {
    content: "\e959";
}
.icon-keyboard:before {
    content: "\e95a";
}
.icon-lab-flask:before {
    content: "\e95b";
}
.icon-laptop:before {
    content: "\e95c";
}
.icon-layers:before {
    content: "\e95d";
}
.icon-leaf:before {
    content: "\e95e";
}
.icon-level-down:before {
    content: "\e95f";
}
.icon-link:before {
    content: "\e960";
}
.icon-list:before {
    content: "\e961";
}
.icon-location:before {
    content: "\e962";
}
.icon-location-pin:before {
    content: "\e963";
}
.icon-lock:before {
    content: "\e964";
}
.icon-lock-open:before {
    content: "\e965";
}
.icon-magnifying-glass:before {
    content: "\e966";
}
.icon-mail:before {
    content: "\e967";
}
.icon-map:before {
    content: "\e968";
}
.icon-megaphone:before {
    content: "\e969";
}
.icon-menu:before {
    content: "\e96a";
}
.icon-message:before {
    content: "\e96b";
}
.icon-mobile:before {
    content: "\e96c";
}
.icon-network:before {
    content: "\e96d";
}
.icon-new-message:before {
    content: "\e96e";
}
.icon-old-phone:before {
    content: "\e96f";
}
.icon-paper-plane:before {
    content: "\e970";
}
.icon-pencil:before {
    content: "\e971";
}
.icon-phone:before {
    content: "\e972";
}
.icon-pie-chart:before {
    content: "\e973";
}
.icon-pin:before {
    content: "\e974";
}
.icon-plus:before {
    content: "\e975";
}
.icon-popup:before {
    content: "\e976";
}
.icon-power-plug:before {
    content: "\e977";
}
.icon-print:before {
    content: "\e978";
}
.icon-quote:before {
    content: "\e979";
}
.icon-remove-user:before {
    content: "\e97a";
}
.icon-reply:before {
    content: "\e97b";
}
.icon-resize-full-screen:before {
    content: "\e97c";
}
.icon-retweet:before {
    content: "\e97d";
}
.icon-rocket:before {
    content: "\e97e";
}
.icon-round-brush:before {
    content: "\e97f";
}
.icon-ruler:before {
    content: "\e980";
}
.icon-save:before {
    content: "\e981";
}
.icon-scissors:before {
    content: "\e982";
}
.icon-share:before {
    content: "\e983";
}
.icon-shareable:before {
    content: "\e984";
}
.icon-shield:before {
    content: "\e985";
}
.icon-shopping-cart:before {
    content: "\e986";
}
.icon-shuffle:before {
    content: "\e987";
}
.icon-signal:before {
    content: "\e988";
}
.icon-sound:before {
    content: "\e989";
}
.icon-sound-mix:before {
    content: "\e98a";
}
.icon-squared-cross:before {
    content: "\e98b";
}
.icon-squared-minus:before {
    content: "\e98c";
}
.icon-squared-plus:before {
    content: "\e98d";
}
.icon-stopwatch:before {
    content: "\e990";
}
.icon-swap:before {
    content: "\e991";
}
.icon-switch:before {
    content: "\e992";
}
.icon-text:before {
    content: "\e993";
}
.icon-text-document:before {
    content: "\e994";
}
.icon-thumbs-down:before {
    content: "\e995";
}
.icon-thumbs-up:before {
    content: "\e996";
}
.icon-thunder-cloud:before {
    content: "\e997";
}
.icon-tools:before {
    content: "\e998";
}
.icon-trash:before {
    content: "\e999";
}
.icon-triangle-down:before {
    content: "\e99a";
}
.icon-triangle-up:before {
    content: "\e99b";
}
.icon-trophy:before {
    content: "\e99c";
}
.icon-typing:before {
    content: "\e99d";
}
.icon-uninstall:before {
    content: "\e99e";
}
.icon-upload:before {
    content: "\e99f";
}
.icon-upload-to-cloud:before {
    content: "\e9a0";
}
.icon-user:before {
    content: "\e901";
}
.icon-users:before {
    content: "\e9a1";
}
.icon-v-card:before {
    content: "\e9a2";
}
.icon-video:before {
    content: "\e9a3";
}
.icon-video-camera:before {
    content: "\e9a4";
}
.icon-wallet:before {
    content: "\e9a5";
}
.icon-warning:before {
    content: "\e9a6";
}
.icon-mic:before {
    content: "\e9a7";
}
.icon-phone2:before {
    content: "\e9a8";
}
.icon-clock:before {
    content: "\e9a9";
}
.icon-alarm:before {
    content: "\e9aa";
}
.icon-user2:before {
    content: "\e9ab";
}
.icon-users2:before {
    content: "\e9ac";
}
.icon-user-plus:before {
    content: "\e9ad";
}
.icon-user-minus:before {
    content: "\e9ae";
}
.icon-spinner9:before {
    content: "\e9af";
}
.icon-search:before {
    content: "\e9b0";
}
.icon-equalizer:before {
    content: "\e9b1";
}
.icon-equalizer2:before {
    content: "\e9b2";
}
.icon-cog2:before {
    content: "\e9b3";
}
.icon-cogs:before {
    content: "\e9b4";
}
.icon-loop:before {
    content: "\e9b5";
}
.icon-sort-amount-asc:before {
    content: "\e9b6";
}
.icon-sort-amount-desc:before {
    content: "\e9b7";
}

